<li id = "comment-<%=comment._id%>">
    <p>
       <div class = "space-between">
        <div>
            <img class = "Dp_post/comment" src="<%=comment.user.avatar%>" width="20">
            <%= comment.user.name %>
            : &nbsp;
        
        
        <%= comment.content %>
        </div>
        <div>
            <% if(locals.user && (locals.user.id == comment.user.id || locals.user.id == post.user.id)) { %>
                <small>
                    <a class = "delete-comment-button" href="/comments/destroy/<%=comment._id%>"><i class="fas fa-trash"></i></a>
                </small>
            <% } %> 
        </div>
       </div>
        
    </p>
</li>