<li id = "post-<%= post._id %>">
    <p>
<div class = "space-between-post">
    <div id = "post-name-dp">
        
            <div>
                <img class = "Dp_post_comment" src="<%=post.user.avatar%>" width="30"> &nbsp;
            </div>
            <div>
                <%=  post.user.name %>
                
            </div>
       
    </div>
    <div>
        <% if(locals.user && locals.user.id == post.user.id){%>
            <small>
                <a class = "delete-post-button" href="/posts/destroy/<%= post.id %>"><i class="fas fa-trash"></i></a>
            </small>
        <% } %>    
    <br>
    </div>

</div>
    <div id = "post-container">
        <%=  post.content %>
    </div>

   <div id = "like-comment">
    <% if(locals.user){ %>
        <a class = "toggle-like-button" data-likes = "<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
            <i class="fas fa-thumbs-up"></i> <%=post.likes.length%> 
        </a>
    <% }else{ %>
        <i class="fas fa-thumbs-up"></i> <%= post.likes.length %> 
    <% } %>  
    &nbsp; &nbsp;
    <i class="fas fa-comment-dots"></i> <%= post.comments.length %>
   </div>      

</p>
    
    <div class="post-comments-list">
        <ul id = "post-comments-<%=post._id%>">
            <% for(comment of post.comments){ %>
                
                    <%-include('_comment')-%>
                
            <%}%>    
        </ul>

    </div>
    <div class = "post-comments">
        <% if(locals.user){ %>

            <form id = "post-<%= post._id%>-comments-form" action="/comments/create" method="POST" class="buttonIn">
                <input id="comment-input"type="text" name="content" placeholder="Comment...">
                <input type="hidden" name="post" value="<%=  post._id %>">
                <button>Add Comment</button>
            </form>

        <% } %>
        
    </div>
    
    
</li>
