<!DOCTYPE html>
 
<head>
    
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
 
    
    <%- style %>
</head>
<body>
    <%- include('_header'); %>
    
    <!-- predefined -->
    <main id = "layout-main">
        <%-  body %> 
    </main>  

    <%- include('_footer'); %>

    <%- script %>
</body>
</html>